In [12]:
first_name = 'monish'
middle_name = 'kumar'
last_name = 'k'

full_name = f"{first_name} {middle_name} {last_name}"

print (full_name)

monish kumar k

In [13]:
print(full_name.title())

Monish Kumar K

In [14]:
send_sms = f"Wish you a very happy rama navami , {full_name.title()}"
print(send_sms)

Wish you a very happy rama navami , Monish Kumar K

In [15]:
#next line \n and tab delimiter \t
print('Some of the programming languages are:','\n\tJava','\n\tPython','\n\tRuby','\n\tC++','...etc')

Some of the programming languages are:
	Java
	Python
	Ruby
	C++ ...etc

In [16]:
#next line
print('the selected numbers are','\n44','\n12','\n98')

the selected numbers are
44
12
98

In [17]:
print ('firstname = ',first_name.title(),'\nmiddle name = ',middle_name.title(),'\nlast name =', last_name.title())

firstname =  Monish
middle name =  Kumar
last name = K