In [1]:
group = ['monish', 'manju', 'rakshith', 'amith', 'ashok']

print(group)

['monish', 'manju', 'rakshith', 'amith', 'ashok']

In [2]:
print(group[3].title())

Amith

In [4]:
print(group[0].upper())

MONISH

In [9]:
group.append('siddu')
print(group)

['monish', 'manju', 'rakshith', 'amith', 'ashok', 'siddu']

In [11]:
group[2] = 'rakshi'
print(group)

['monish', 'manju', 'rakshi', 'amith', 'ashok', 'siddu']

In [12]:
group.insert(4,'gourav')
print(group)

['monish', 'manju', 'rakshi', 'amith', 'gourav', 'ashok', 'siddu']

In [33]:
#trying for loop to print all names in the list
for x in range(7):
    print(f"Hello {group[x].title()} how are you\n")

Hello Monish how are you

Hello Manju how are you

Hello Rakshi how are you

Hello Amith how are you

Hello Gourav how are you

Hello Ashok how are you

Hello Siddu how are you

In [35]:
group.insert(2,'shiv')
print(group)

['monish', 'manju', 'shiv', 'shiv', 'rakshi', 'amith', 'gourav', 'ashok', 'siddu']

In [37]:
del group[2]
print(group)

['monish', 'manju', 'rakshi', 'amith', 'gourav', 'ashok', 'siddu']

In [38]:
group.pop()
print(group)

['monish', 'manju', 'rakshi', 'amith', 'gourav', 'ashok']

In [39]:
group.pop(1)
group.insert(1,'siddu')
print(group)

['monish', 'siddu', 'rakshi', 'amith', 'gourav', 'ashok']

In [41]:
group.append(group[1])
print(group)

['monish', 'siddu', 'rakshi', 'amith', 'gourav', 'ashok', {'siddu'}, 'siddu']

In [42]:
type(group)

list

In [47]:
group.pop()
group.pop()
print(group)

['monish', 'siddu', 'rakshi', 'amith']

In [51]:
group2 = group
print(group2)

['monish', 'siddu', 'rakshi', 'amith']

In [54]:
group3 = ['a0','a1','a2']
print(group3)

['a0', 'a1', 'a2']

In [56]:
print(group3[1].title())

A1

In [57]:
group3.append('123')
print(group3)

['a0', 'a1', 'a2', '123']

In [58]:
print(group3[3].title())

123

In [65]:
for a in range(4):
    print(f"You are my bestfriend {group2[a].title()}")

You are my bestfriend Monish
You are my bestfriend Siddu
You are my bestfriend Rakshi
You are my bestfriend Amith