In [3]:
sqr =[]
for x in range(1,11):
    a = x*x
    sqr.append(a)
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
even =[]
for x in range(1,22):
    if x%2==0:
        even.append(x)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
sqr2 = sqr
print(sqr)
print(sqr2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
sqr.append(121)
sqr2.append(144)
print(sqr)
print(sqr2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [10]:
l1 =[1,2,3,4,5]
l2= l1[:]
l1.append(6)
l2.append(10)
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 10]

In [11]:
#squares of nos from 1 to 20
sqrs = [x**2 for x in range(1,21)]
print(sqrs)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [12]:
cubes = [x**3 for x in range(1,15)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

In [20]:
even =[]
for x in range (1,11):
    if x%2==0:
        even.append(x)
print(even)

[2, 4, 6, 8, 10]

In [21]:
odd =[]
for x in range(1,11):
    if x%2!=0:
        odd.append(x)
print(odd)

[1, 3, 5, 7, 9]

In [22]:
#tuple datatype

values = ('hannah','cortan','menenges','gaztambide')
print(values)
type(values)

('hannah', 'cortan', 'menenges', 'gaztambide')

tuple

In [25]:
del values[1]

TypeError: 'tuple' object doesn't support item deletion

In [26]:
del odd[2]
print(odd)

[1, 3, 7, 9]

In [28]:
values = (2,3,4,2,1)
print(values)
type(values)

(2, 3, 4, 2, 1)

tuple

In [35]:
nos =[x for x in range(1,20)]
print(nos[4:21:5])

[5, 10, 15]

In [38]:
names =('monish','minnie','toney','bunny','funny')
print(names[0:6:3])

('monish', 'bunny')