In [1]:
first_name = 'monish'

last_name = 'kumar'

full_name = f"{first_name.title()} {last_name.title()}"

In [2]:
print(full_name)

Monish Kumar

In [3]:
def prnt_name(name):
    """to print the given name"""
    print(f"The name is {name}")

In [4]:
prnt_name(full_name)

The name is Monish Kumar

In [5]:
#list

list1 = [1,4,18,28,0,24,23,98,77,37]

for x in list1:
    print(x)

1
4
18
28
0
24
23
98
77
37

In [7]:
min(list1)

0

In [8]:
max(list1)

98

In [9]:
sum(list1)

310

In [10]:
list1.append(5)

In [11]:
list1.insert(2,25)

In [12]:
print(list1)

[1, 4, 25, 18, 28, 0, 24, 23, 98, 77, 37, 5]

In [13]:
lstnum = list1.pop()

print(lstnum)

print(list1)

5
[1, 4, 25, 18, 28, 0, 24, 23, 98, 77, 37]

In [14]:
#tuple

tup = ('hi','hello','how','are','you')

print(tup)

for x in tup:
    print(x)

('hi', 'hello', 'how', 'are', 'you')
hi
hello
how
are
you

In [19]:
#dict

dic = {'fname':first_name,'lname':last_name,'fullname':full_name}

for x,y in dic.items():
    print(x.title(),':',y.title())

Fname : Monish
Lname : Kumar
Fullname : Monish Kumar

In [32]:
#winners
names = ['monish','harish','rajesh','suresh','ranjith']

def congo(user):
    """We congratulate everyone"""
    for x in user:
        print(f"Congrats for winning {x.title()}")

In [33]:
congo(names)

Congrats for winning Monish
Congrats for winning Harish
Congrats for winning Rajesh
Congrats for winning Suresh
Congrats for winning Ranjith